# Python Assignment 20

Q1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

Answer 1.

In [1]:
test1 = 'This is a test of the emergency text system'
with open('test.txt', 'w') as f:
    f.write(test1)

Q2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

Answer 2.

In [2]:
with open('test.txt', 'r') as f:
    test2 = f.read()
    
print(test1 == test2)

True

Q3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

Answer 3.

In [3]:
import csv

lines = [
    ['title', 'author', 'year'],
    ['The Weirdstone of Brisingamen', 'Alan Garner', '1960'],
    ['Perdido Street Station', 'China Miéville', '2000'],
    ['Thud!', 'Terry Pratchett', '2005'],
    ['The Spellman Files', 'Lisa Lutz', '2007'],
    ['Small Gods', 'Terry Pratchett', '1992']
]

with open('books.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(lines)

Q4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

Answer 4.

In [4]:
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

c.execute('''
    CREATE TABLE books
    (title TEXT, author TEXT, year INTEGER)
''')

conn.commit()
conn.close()

Q5. Read books.csv and insert its data into the book table.

Answer 5.

In [5]:
import csv
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

# Create the books table if it doesn't already exist
c.execute('''
    CREATE TABLE IF NOT EXISTS books
    (title TEXT, author TEXT, year INTEGER)
''')

# Read the data from the CSV file and insert it into the books table
with open('books.csv', 'r') as f:
    reader = csv.reader(f)
    next(reader)  # skip the header row
    for row in reader:
        c.execute('INSERT INTO books VALUES (?, ?, ?)', row)

conn.commit()
conn.close()

Q6. Select and print the title column from the book table in alphabetical order.

Answer 6.

In [6]:
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

# Select the title column from the books table in alphabetical order
c.execute('SELECT title FROM books ORDER BY title ASC')
titles = c.fetchall()

# Print the title column
for title in titles:
    print(title[0])

conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

Q7. From the book table, select and print all columns in the order of publication.

Answer 7.

In [8]:
import sqlite3

conn = sqlite3.connect('books.db')
c = conn.cursor()

# Select all columns from the books table in the order of publication
c.execute('SELECT * FROM books ORDER BY year ASC')
books = c.fetchall()

# Print all columns in the order of publication
for book in books:
    print(book)

conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

Q8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

Answer 8.

In [9]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///books.db')

Q9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

Answer 9.

import redis

# Connect to Redis server

r = redis.Redis(host='localhost', port=6379, db=0)

# Create Redis hash called test with the fields count (1) and name ('Fester Bestertester')

r.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})

# Print all fields for test

print(r.hgetall('test'))

In this code, we first import the redis module.

We then use the Redis() constructor to connect to the Redis server running on localhost at port 6379, using database 0.

We use the hmset() method to create a Redis hash called test with the fields count (1) and name ('Fester Bestertester').

Finally, we use the hgetall() method to print all the fields for the test hash, which returns a dictionary with the field names and their values.

Q10. Increment the count field of test and print it.

Answer 10.

import redis

# Connect to Redis server

r = redis.Redis(host='localhost', port=6379, db=0)

Increment the count field of test and print it

r.hincrby('test', 'count', 1)

print(r.hget('test', 'count'))

In this code, we first import the redis module.

We then use the Redis() constructor to connect to the Redis server running on localhost at port 6379, using database 0.

We use the hincrby() method to increment the count field of test Redis hash by 1.

Finally, we use the hget() method to print the value of the count field of test.